.container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 2rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.container .plane {
    width: 8rem;
    position: absolute;
    left: 26%;
    top: -3rem;
}
.products {
    display: grid;
    grid-template-columns: 25% auto;
    width: 90%;
}
.menu {
    list-style: none;
    font-size: 1.3rem;
    font-weight: 600;
    gap: 2rem;
    display: flex;
    flex-direction: column;
}
.menu li:hover {
    color: var(--pink);
    cursor: pointer;
}
.list {
    display: grid;
    /* grid-template-columns: repeat(auto-fill , minmax(200px , 1fr)); */
    grid-template-columns: 1fr 1fr 1fr;
    height: 25rem;
    overflow-y: scroll;
    grid-gap: 1.5rem;
    justify-content: space-between;
}
.myproduct {
    width: 16rem;
    height: 8rem;
    background-color: white;
    position: relative;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    border-radius: 1rem;
}
.myproduct img {
    width: 6rem;
    height: 11rem;
    top: 2rem;
}
.left_s {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.name {
    display: flex;
    flex-direction: column;
}
.name :nth-child(1) {
    font-size: 1.4rem;
    font-weight: 600;
}
.name :nth-child(2) {
    font-size: 0.7rem !important;
}
.left_s :nth-child(2) {
    font-size: 2rem;
    font-weight: bold;
}
.shop {
    display: flex;
    align-items: center;
}

.shop .details {
    font-size: 0.8rem;
    margin-left: 1rem;

}
.img_p {
    transform: rotate(-20deg);
    position: absolute;
    bottom: -20%;
    right: -3%;
    width: 40%;
    height: 100%;
}

.buttoncontainer button {
    font-size: 0.9rem;
    background-color: #2f9cea;
    color: #FFF;
    border: none;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-left: 1px;
    box-shadow: rgba(50,50,93,0.25) 0px 4px 12px -2px ,
    rgba(0,0,0,0.3) 0px 3px 7px -3px;
}
.smallbutton_n {
    width: 30px !important ; 
    height: 30px !important;
    font-weight: bolder;
}
.smallbutton_t {
    width: 30px !important ; 
    height: 30px !important;
    font-weight: bolder;
    margin-bottom: -2px;
}
.smallbutton_p {
    width: 30px !important ; 
    height: 30px !important;
    /* margin-left: 10px !important; */
}

.counter {
    color: #0f7bef;
    display: inline-block;
    width: 20px;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 5px;
    padding-left: 3px;
}
@media screen and (max-width : 856px) {
 .container {
    width: 100%;
    position: relative;
    margin-top: 5rem;
    /* margin-left: 1.3rem; */
    
 }   
 .container .plane {
    position: absolute;
    top: -2rem;
    width: 6rem;
 }
 .products {
    width: 90%;
    margin-left: 0rem;
    padding-left: -2rem;
    display: flex;
    flex-direction: column;
 }
 .products ul li {
    font-size: 1rem;
 }
 .menu {
    flex-direction: row;
    margin-left: -2rem;
    margin-bottom: 2rem;
 }
 .myproduct {
    width: 16rem;
    grid-gap: 1rem;
 }
 .list {
    grid-template-columns: 1fr 1fr;
 }
 
}
@media (max-width : 640px) {
    .container .plane{
        position: absolute;
        left: 11rem;
        bottom: 3rem;
    }
    .list {
        grid-template-columns: 1fr;
    }
    .myproduct {
        width: 70%;
    }
    
}