@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    background-color: var(--bg);
    color: var(--black);
    transition: all 3ms ease;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}